{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="global">
        <h1>Ola {{ request.user.username }}</h1>

        <h2>Total gastos R$ {{ total_gastos }}</h2>
        <h2>Total ganho R$ {{ total_ganhos }}</h2>

        <h3>Ultimos 5 gastos</h3>
        {% for gasto in gastos %}
            <li>{{ gasto.description }} - R$ {{ gasto.value }}</li>
        {% endfor %}
    </div>
</body>
</html>